<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="@routes.LoginController.login()" method="post">
        <input type="text" id="userName" name="userName" placeholder="User Name"/>
        <input  type="password" id="passWord" name="passWord" placeholder="Password"/>
        <input type="submit" id="login" value="Login"/>
    </form>
</body>
</html>